<!DOCTYPE html>
<html>
  <head>
    <title>Ghoulapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <% if logged_in? %>
      <%= current_user.username %>
      <%= button_to 'Log Out', session_url, method: :delete %>
    <% else %>
      <%= link_to 'Log In', new_session_url %>
      <%= link_to 'Create User', new_user_url %>
    <% end %>
  </body>

</html>
